{% extends 'layout_boxed.html.twig' %}

{% block content %}
    <div class="row mt-3">
        <div class="col">
            <h1>Forecast for {{ location.name }}, {{ location.countryCode }}</h1>
        </div>
    </div>

    <div class="row forecasts mt-3">
        {% for forecast in forecasts %}
            <div class="col-12 col-lg-6">
                <div class="forecast-card">
                    <div class="row">
                        <div class="forecast-card-header col-xs-12 d-flex justify-content-between align-items-center">
                            <div class="day">{{ forecast.date | date('l') }}</div>
                            <div class="date">{{ forecast.date | date('d.m') }}</div>
                        </div>
                        <div class="forecast-card-general col-12 col-lg-6">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <i class="bi-{{ forecast.icon }} forecast-icon"></i>
                                </div>
                                <div class="col-6">
                                    <div class="temperature">{{ forecast.temperatureCelsius }}&deg;</div>
                                    <div class="fl-temperature">Feels like {{ forecast.flTemperatureCelsius }}&deg;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forecast-card-details col-12 col-lg-6 mt-3">
                            <dl>
                                <dt>Pressure</dt>
                                <dd>{{ forecast.pressure }}</dd>

                                <dt>Humidity</dt>
                                <dd>{{ forecast.humidity }}%</dd>

                                <dt>Wind</dt>
                                <dd>{{ forecast.windSpeed }} m/s</dd>

                                <dt>Cloudiness</dt>
                                <dd>{{ forecast.cloudiness }}%</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
