{% extends 'layout_fluid.html.twig' %}

{% block title %}Highlander Says{% endblock %}

{% block content %}
    <h1>Highlander says</h1>

    {% dump(forecasts) %}

    {% for message in app.flashes('info') %}
        <div class="flash-info">
            Info: {{ message }}
        </div>
    {% endfor %}

    {% for forecast in forecasts %}
        <p>{{ forecast }}</p>
    {% endfor %}

    {% if threshold %}<p>Threshold: {{ threshold }}</p>{% endif %}
    <nav>
        <a href="{{ path('app_weather_highlandersays', {'threshold':6}) }}">Try again!</a>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const route = "{{ url('app_weather_highlandersays')|escape('js') }}";
        console.log(route);
    </script>
{% endblock %}
